.root {
  position: relative;
}

.button {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-left: 20px;

  font-size: 14px;
  color: var(--gray-500);
  transition: all 0.5s linear;

  cursor: pointer;

  svg {
    height: 24px;
  }

  &:hover {
    color: var(--primary);
  }
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: var(--border);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.list li {
  padding: 8px 12px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.5s linear;

  &:not(:last-child) {
    border-bottom: var(--border);
  }
}

.list li:hover {
  background-color: var(--primary);
  color: #fff;
}
