:root {
  --primary: #0d6efd;
  --primary-dark: #0b59ce;
  --filter-primary: brightness(0) saturate(100%) invert(41%) sepia(52%) saturate(6941%)
    hue-rotate(208deg) brightness(97%) contrast(105%);

  --dark: #1c1c1c;
  --gray-600: #505050;
  --gray-500: #8b96a5;
  --gray-400: #bdc4cd;
  --gray-300: #bdc4cd;
  --gray-200: #eff2f4;
  --gray-100: #f7fafc;

  --green: #00b517;
  --orange: #ff9017;
  --red: #fa3434;

  --border: 1px solid var(--gray-200);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
  background: var(--gray-100);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 320px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
